header{
    background-color: rgb(0, 94, 255);
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background size: 100%;
}
.logo{
/* in sospeso logo */

}
.silver{
    color: silver;
}

#date{
    font-size: small;
}
a {
    text-decoration: none;
    color: rgb(0, 195, 255)
}
#description{
    font-size: 8;
}
ul{
    padding-left: 10px;
    margin-top: 2em;
}
table{
    text-align: left;
}
th {
    background-color: rgb(0, 153, 255);
    color: white;
  }
tr:nth-child(even){
      background-color: aqua;
}
/* #colonna{
    top: 1em;
    bottom: 1em;
} */